.pinBox {
    width: 200px;
    height: 25px;
    border-radius: 8px;
    margin: 3px 0;
    padding: 8px;
    border: 1px solid #1881b2;
}

.incorrectPin {
    color: #c55b41;
    padding: 1px;
    margin: 1px;
    opacity: 1;
    animation: fade .4s linear;
    font-size: 10px;
}