html {
    min-height: 100%;
}

.Page {
    width: 230px;
    margin-left: calc(50% - 125px);
    margin-top: 30px;
    height: 37px;
    margin-bottom: 30px;
    position: center;
    box-shadow: 0 2px 3px #5fcbca;
    text-align: center;
    background-color: #0c4666;
    border-radius: 10px;
    font-size: 25px;
    color: #98f1ff;
}

.Page h2 {
    font-weight: normal;
    font-size: 25px;
    padding-top: 1px;
}
