.AddUser {
    width: 60px;
    height: 50px;
    margin: 20px auto;
    padding: 10px;
    display: block;
    border: 1px solid #5fcbca;
    box-shadow: 0 2px 3px #5fcbca;
    background-color: #f0f9fb;
    border-radius: 8px;
    opacity: 0.95;
    animation: fade .4s linear;
}

.AddUser:hover {
    box-shadow: 0 0 15px #5fcbca;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    100% {
        opacity: 0.95;
    }
}

.Add {
    width: 25px;
    height: 25px;
    border: 0;
    padding: 1px;
}

.newUser {
    width: 250px;
    height: 95px;
    margin: 20px 20px;
    padding: 6px;
    display: inline-block;
    border: 1px solid #1881b2;
    box-shadow: 3px 4px #5fcbca;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
}

.newUser input {
    width: 90%;
    border-radius: 8px;
    height: 25px;
    margin: 1px 0;
    padding: 6px;
}

.Button {
    width: 25%;
    height: 18px;
    margin-bottom: 6px;
    border: none;
    cursor: pointer;
    color: #FAFAFA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10%;
}

.Button:disabled {
    background-color: #f0f9fb;
}

.Button:hover:not([disabled]) {
    transform: scale(1.15);
}

.green {
    background-color: #05445E;
    margin-left: 90px;
}

.red {
    background-color: #5E1F05;
}

/*
.newUser input {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
}*/
