body {
    /*font-family: "roboto"!*sans-serif*!;*/
    opacity: 1;
    animation: fade .2s linear;
}

.Input {
    border: 1px solid #1881b2;
    padding: 0.4rem;
    width: 80%;
    border-radius: 5px;
}

.Input:focus {
    border: 1px solid #1881b2;
}

.no-suggestions {
    color: #1881b2;
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #1881b2;
    border-top-width: 0;
    list-style: none;
    margin: auto;
    max-height: 100px;
    overflow-y: auto;
    padding-left: 0;
    width: 80%;
    border-radius: 10px;
    /*width: calc(285px + 1rem);*/
    opacity: 1;
    animation: fade .2s linear;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.suggestions li {
    padding: 0.3rem;
    opacity: 1;
    animation: fade .2s linear;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #05445E;
    color: #FAFAFA;
    cursor: pointer;
    font-weight: 700;
    opacity: 1;
    animation: fade .2s linear;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #1881b2;
    opacity: 1;
    animation: fade .2s linear;
}


@media (min-width: 600px) {
    .Input,
    .suggestions {
        width: 65%;
    }
}

@media (min-width: 800px) {
    .Input,
    .suggestions {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .Input,
    .suggestions {
        width: 40%;
    }
}

@media (min-width: 1500px) {
    .Input,
    .suggestions {
        width: 35%;
    }
}


