* {
    font-family: Candara, serif;
    box-sizing: border-box;

}

body {
    background: linear-gradient(to bottom right, #00101f, #05445E, #065778);
}

.Apps {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #1881b2;
    box-shadow: 0 2px 3px #5fcbca;
    text-align: center;
    background-color: #f0f9fb;
    padding-top: 1px;
    opacity: 95%;
    padding-bottom: 20px;
    border-radius: 10px;

    /*648CEB - Blue
    05445E - Navy Blue https://www.canva.com/colors/color-palettes/summer-splash/
            97D077- Green*/
    /*margin: auto;
    display: inline-block;
    overflow: auto;
    padding: 50px 60px 10px;
    text-align: center;
    width: 50%;
    box-shadow: 0 4px 4px #a7a7a7;*/
}

.Apps h3 {
    color: #053168;
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: normal;
}

.deleteApp {
    box-shadow: 0 4px 5px #c55b41;
}


.ddStyle {
    padding: 5px;
}

/*.GetPassword {
    margin: 10px auto;
    padding: 5px;
    border-bottom: 3px;
    font-size: 12px;
    background-color: #efefef;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 3px #ccc;
}

.GetPassword:hover {
    background: #1881b2;
    box-shadow: 0 2px 3px black;
}*/

/*.Apps button {
    border: 1px solid black;
    box-shadow: 0 1px;
    padding: 3px;
    margin: 2px;
}*/

/*.Apps button:hover {
    color: white;
    background: #05445E;
}*/

/*.Apps input {
    font-size: 18px;
    background-color: #efefef;
    width: 70%;
    border-radius: 8px;
}*/

@media (min-width: 600px) {
    .Apps {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .Apps {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .Apps {
        width: 60%;
    }
}

@media (min-width: 1500px) {
    .Apps {
        width: 40%;
    }
}

/*.button {
    text-align: center;
}*/


