.User {
    width: 250px;
    height: 72px;
    margin: 20px 20px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #1881b2;
    box-shadow: 0 2px 3px #5fcbca;
    background-color: #f0f9fb;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 95%;
    color: #053168;
    animation: fade .4s linear;
}

.deleteUser {
    box-shadow: 0 4px 5px #c55b41;
    opacity: 95%;
    animation: fade .4s linear;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    100% {
        opacity: 95%;
    }
}

.User .userForm {
    height: 95px;
    margin: 20px 20px;
    padding: 6px;
    display: inline-block;
    border: 1px solid #1881b2;
    box-shadow: 0 2px 3px #5fcbca;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
}

.Input {
    display: block;
    padding: 10px;
}

.Input input, sup {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
}

.copy:not(:active) {
    transition: background-color 2000ms step-end;
}

.copy:active {
    background-color: #053168;
}

.edit {
    margin-left: 60px;
}

.copy {
    margin-left: 60px;
}

.copiedText {
    margin-left: 50px;
    margin-right: 10px;
}

.AddUserInput {
    display: block;
    padding: 10px;
}

.Add {
    width: 40px;
    height: 40px;
}

.Button {
    width: 25%;
    height: 23px;
    margin-bottom: 6px;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    opacity: 1;
    animation: fade .2s linear;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.green:hover:not([disabled]) {
    box-shadow: 0 0 8px #238da0;
}

.green {
    background-color: #238da0;
}

.red:hover {
    box-shadow: 0 0 8px #c55b41;
}

.red {
    background-color: #c55b41;
    margin-left: 70px;
}