/*:not(div) {
    background-color: #E0FFFF;
}*/

hr.rounded {
    border-top: 8px solid #05445E;
    border-radius: 5px;
}

.pickApp {
    margin: 30px auto;
    text-align: center;
    opacity: 1;
    animation: fade .2s linear;
    color: #FAFAFA;
}

@keyframes fade {
    0%, 100% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media (prefers-color-scheme: dark) {
    /* * {
         background-color: #424242;
     }*/
}


